@model List<Product>
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<!-- Bootstrap core CSS -->
<link href="~/css/bootstrap.min.css" rel="stylesheet">
<link href="~/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/animsition.min.css" rel="stylesheet">
<link href="~/css/animate.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="~/css/ProductStyle.css" rel="stylesheet">


<div class="page-wrapper">
    <!-- top Links -->
    <!-- end:Top links -->
    <!-- start: Inner page hero -->
    <hr>

    <!-- //results show -->
    <section class="restaurants-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                    <div class="sidebar clearfix m-b-20">
                        <div class="main-block">
                            <div class="sidebar-title white-txt">
                                <h6>Ürün Kategorileri</h6> <i class="fa fa-cutlery pull-right"></i>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control search-field" placeholder="Tarifine ürün ara.."> <span class="input-group-btn">
                                    <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            <form>
                                <ul>
                                    @foreach (Category item in (List<Category>)ViewBag.Categories)
                                    {

                                    <li>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">@item.CategoryName</span>
                                        </label>
                                    </li>
                                    }
                                  
                                </ul>
                            </form>
                           
                        </div>
                        <!-- end:Sidebar nav -->
                    
                    </div>
                    <div class="widget clearfix">
                        <!-- /widget heading -->
                        <div class="widget-heading">
                            <h3 class="widget-title text-dark">
                                Fiyat Aralığı
                            </h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-body">
                            <div class="range-slider m-b-10">
                                <span id="ex2CurrentSliderValLabel"> Fiyat Filtrele:<span id="ex2SliderVal"><strong>35</strong></span>₺</span>
                                <br>
                                <input id="ex2" type="text" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="35" />
                            </div>
                        </div>
                    </div>
                    <!-- end:Pricing widget -->
                    <div class="widget clearfix">
                        <!-- /widget heading -->


                    </div>
                    <!-- end:Widget -->
                </div>
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                    <div class="row">


                        @foreach (Product item in Model)
                        {

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 food-item">
                            <div class="food-item-wrap">
                                <div class="figure-wrap" style="background-image:url('../../images/products/@item.Image'); background-repeat:no-repeat;
        background-position:center;">
                                    <div class="distance"><i class="fa fa-pin"></i>@item.Category.CategoryName</div>
                                    <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                                    <div class="review pull-right"><a href="#">198 reviews</a> </div>
                                </div>
                                <div class="content">
                                    <h5><a href="#">@item.ProductName</a></h5>
                                    
                                    
                                </div>
                                <div class="restaurant-block">
                                    <div class="left">
                                        <a class="pull-left" href="#"> <img src="http://placehold.it/50x46" alt="Restaurant logo"> </a>
                                        <div class="pull-left right-text"> <a href="#">@item.Supplier.CompanyName</a> <span>@item.Supplier.City</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
  
                        
                    </div>
                    <!-- end:right row -->
                </div>
            </div>
        </div>
    </section>
   

