@model List<Order>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<table class="table table-hover" width="100%">
    <thead>
        <tr>
            <td>Ad Soyad</td>
            <td>Tarif</td>
            <td>Aşçı</td>
            <td>Tutar</td>
            <td>Adres</td>
            <td>Teslim Edilecek Tarih</td>
            <td>Siparis Durumu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (Order item in Model)
        {
            <tr>
                <td>@item.User.FirstName @item.User.LastName</td>
                <td>@item.Recipe.RecipeName</td>
                <td>@item.Cook.FirstName @item.Cook.LastName</td>
                <td>@item.OrderPrice</td>
                <td>@item.Address</td>
                <td>@item.RequestedDate</td>
                <td>@item.OrderStatus</td>
                <td>
                    @if (item.OrderStatus == "Onaylanmadı")
                    {

                        @Html.ActionLink("Onayla", "OrderUpdate", new { orderStatus = "Onayla", orderID = item.OrderID }, new { @class = "btn btn-success" })
                    }
                    @*<button class="btn btn-success">Onayla</button>*@

                    @if (item.OrderStatus=="Onayla")
                    {

                    @Html.ActionLink("Bitir", "OrderUpdate", new { orderStatus = "Bitir", orderID = item.OrderID }, new { @class = "btn btn-info" })
                    }
                    @*<button class="btn btn-info">Bitir</button>*@
                    @if (item.OrderStatus == "Onaylanmadı")
                    {

                        @Html.ActionLink("İptal", "OrderUpdate", new { orderStatus = "İptal", orderID = item.OrderID }, new { @class = "btn btn-danger" })
                        @*<button class="btn btn-danger">İptal</button>*@
                    }
                </td>

            </tr>
        }
        }
    </tbody>

</table>